mqtt:
  address: localhost:1883
  client_id: maglab/space/influxer
  realm: maglab/space

influxdb:
  address: 127.0.0.1:8086
  database: mqtt
  username: mqtt
  password: a44JLX5E2c2ly6J48jB0i9ic7GDgERCq

exports:
  gas.gauge:
    topic: esper/67890/counter/gauge

  gas.count:
    topic: esper/67890/counter/count
    type: int

  electricity.gauge:
    topic: esper/12345/counter/gauge

    metric: power
    field: gauge

  electricity.count:
    topic: esper/12345/counter/count

    metric: power
    field: count


  room.open:
    topic: janitor/room/open
    type: bool

    database: stats
    metric: open
    tags:
      door: left

    interval: 5s
